@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateY(10px); /* Start below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
  }
}

:root {
  --animation-slide-in-ease-out: slideInText 0.5s ease-out forwards;
}