.selectable {
  -webkit-user-select: text;
  /* Safari, Chrome */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Standard syntax */
}

.text-align-justify {
  text-align: justify;
}

.h2 {
  font: var(--font-sf-pro-display-semibold-largest);
  letter-spacing: var(--letter-spacing-002-em);
}

.h3 {
  font: var(--font-sf-pro-display-medium);
  letter-spacing: var(--letter-spacing-011-em);
}

.pointer-events-none {
  pointer-events: none;
}


.press {
  transition: transform .05s ease-out 0.015s;
}

.press:active {
  transform: scale(1.1);
}