.selectable {
  -webkit-user-select: text;
  /* Safari, Chrome */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Standard syntax */
}

.text-align-justify {
  text-align: justify;
}

.h2 {
  font: var(--font-sf-pro-display-semibold-largest);
  letter-spacing: var(--letter-spacing-002-em);
}

.h3 {
  font: var(--font-sf-pro-display-medium);
  margin-bottom: 2px;
  margin-top: 8px;
  letter-spacing: var(--letter-spacing-011-em);
}

.h4 {
  font: var(--font-sf-pro-text-small);
  letter-spacing: var(--letter-spacing-011-em);
}

.press {
  transition: transform .05s ease-out 0.015s;
}

.press:active {
  transform: scale(1.1) !important;
}

*[data-is-clickable="false"] {
  pointer-events: none;
}

*[data-is-clickable="true"] {
  pointer-events: auto;
}

.dark *[data-is-filter-invert-needed="true"] {
  filter: invert(1);
}