@media only screen and (min-width: 768px) {

  .bread-menu {
    display: none;
  }

  header>nav {
    max-width: calc(var(--space-2px) * 200);
    padding: 0;
  }

  header>nav>ul li:has(.theme-changer) {
    margin: 0;
  }

  .responsive-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
    position: relative;
    background: transparent;
    max-height: var(--header-height);
  }

  .responsive-menu>ul {
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--space-1px) calc(var(--space-2px) * 8) 0 calc(var(--space-2px) * 8);
  }

  .responsive-menu>ul>li>a {
    padding: 0;
    font: var(--font-sf-pro-text-small);
  }

  #home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--space-19px) * 10);
    padding: 0 15% 0 6%;
  }

  .developer {
    display: block;
    width: max-content;
    position: relative;
  }

  .developer>.ring {
    position: absolute;
    top: 34%;
    left: -20%;
  }

  #contact-details>.drawer {
    width: max-content;
    gap: calc(var(--space-3px) * 9);
    padding: calc(var(--space-5px) * 3);
  }

  #contact-details>.drawer>a,
  #contact-details>.drawer>a>img {
    width: calc(var(--space-2px) * 16);
    height: calc(var(--space-2px) * 16);
  }

  #about {
    padding: 0 6%;
  }

  #projects {
    padding: 0 6%;
  }
}