/* SF Pro (apple.com) fonts */
@font-face {
  font-family: 'SF Pro Regular';
  src: url("/assets/fonts/sf-pro-display_regular.woff2");
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("/assets/fonts/sf-pro-display_semibold.woff2");
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url("/assets/fonts/sf-pro-text_semibold.woff2");
}

@font-face {
  font-family: 'SF Pro Text Light';
  src: url("/assets/fonts/sf-pro-text_light.woff2");
}

@font-face {
  font-family: 'SF Pro Icon Light';
  src: url("/assets/fonts/sf-pro-icons_light.woff2");
}

:root {
  --font-family-sf-pro-regular: 'SF Pro Regular';
  --font-family-sf-pro-display-semibold: 'SF Pro Display Semibold';
  --font-family-sf-pro-text-semibold: 'SF Pro Text Semibold';
  --font-family-sf-pro-text-light: 'SF Pro Text Light';
  --font-family-sf-pro-icon-light: 'SF Pro Icon Light';
}