/* SF Pro (apple.com) fonts */
@font-face {
  font-family: 'SF Pro Text Bold';
  src: url("../assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff2");
}

@font-face {
  font-family: 'SF Pro Text Light';
  src: url("../assets/fonts/SF-Pro-Text/sf-pro-text_light.woff2");
}

@font-face {
  font-family: 'SF Pro Text Medium';
  src: url("../assets/fonts/SF-Pro-Text/sf-pro-text_medium.woff2");
}

@font-face {
  font-family: 'SF Pro Text';
  src: url("../assets/fonts//SF-Pro-Text/sf-pro-text_regular.woff2");
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff2");
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff2");
}

:root {
  --font-family-sf-pro-text-bold: 'SF Pro Text Bold';
  --font-family-sf-pro-text-light: 'SF Pro Text Light';
  --font-family-sf-pro-text-medium: 'SF Pro Text Medium';
  --font-family-sf-pro-text: 'SF Pro Text';
  --font-family-sf-pro-text-semibold: 'SF Pro Text Semibold';
  --font-family-sf-pro-display: 'SF Pro Display';
  --font-family-sf-pro-display-semibold: 'SF Pro Display Semibold';

  --font-size-12px: calc(var(--space-2px) * 6);
  --font-size-19px: var(--space-19px);
  --font-size-21px: calc(var(--space-3px) * 7);
  --font-size-28px: calc(var(--space-2px) * 14);
  --font-size-32px: calc(var(--space-2px) * 16);

  --font-weight-400: 400;
  --font-weight-600: 600;

  --font-style-italic: italic;
  --font-style-oblique: oblique;

  --line-height-1: 1;
  --line-height-1-14: 1.1428571429;
  --line-height-1-125: 1.125;
  --line-height-1-19: 1.19048;

  --font-sf-pro-text-small: var(--font-weight-400) var(--font-size-12px)/var(--line-height-1) var(--font-family-sf-pro-text);
  --font-sf-pro-display-medium: var(--font-weight-400) var(--font-size-19px)/var(--line-height-1-19) var(--font-family-sf-pro-display);
  --font-sf-pro-display-semibold-large: var(--font-weight-600) var(--font-size-28px)/var(--line-height-1-14) var(--font-family-sf-pro-display-semibold);
  --font-sf-pro-display-semibold-largest: var(--font-weight-600) var(--font-size-32px)/var(--line-height-1-125) var(--font-family-sf-pro-display-semibold);
}

@media only screen and (min-width: 768px) {
  :root {
    --font-sf-pro-text-small: var(--font-weight-400) var(--font-size-12px)/var(--line-height-1) var(--font-family-sf-pro-text);
    --font-sf-pro-display-medium: var(--font-weight-400) var(--font-size-21px)/var(--line-height-1-19) var(--font-family-sf-pro-display);
    --font-sf-pro-display-semibold-large: var(--font-weight-600) var(--font-size-28px)/var(--line-height-1-14) var(--font-family-sf-pro-display-semibold);
    --font-sf-pro-display-semibold-largest: var(--font-weight-600) var(--font-size-32px)/var(--line-height-1-125) var(--font-family-sf-pro-display-semibold);
  }
}