* {
  pointer-events: none;
  box-sizing: border-box;
  transition: color .05s cubic-bezier(.4, 0, .6, 1), background-color .32s cubic-bezier(.4, 0, .6, 1), opacity .24s cubic-bezier(.4, 0, .6, 1) 80ms, visibility .24s step-start 80ms;
}

.light {
  /* light theme */
  --color-primary: rgba(255, 255, 255, .8);
  --color-primary-shade: rgba(245, 245, 247, 1);
  --color-primary-tint: rgba(255, 255, 255, 1);

  --color-secondary: rgba(0, 0, 0, .8);
  --color-secondary-shade: rgba(0, 0, 0, 1);
  --color-secondary-tint: rgba(0, 0, 0, .54);
  --color-secondary-shadow-1: rgba(0, 0, 0, 0.1);
  --color-secondary-shadow-2: rgba(0, 0, 0, 0.08);
}

.dark {
  --color-primary: rgba(0, 0, 0, .8);
  --color-primary-shade: rgba(0, 0, 0, 1);
  --color-primary-tint: rgba(0, 0, 0, .56);

  --color-secondary: rgba(255, 255, 255, .8);
  --color-secondary-shade: rgba(245, 245, 247, 1);
  --color-secondary-tint: rgba(255, 255, 255, 1);
  --color-secondary-shadow-1: rgba(255, 245, 247, 0.1);
  --color-secondary-shadow-2: rgba(255, 245, 247, 0.08);
}