:root {
  /* default light theme */
  --primary-color-: ;
  --primary-color-50: rgba(255, 255, 255, 1);
  --primary-color-100: rgba(255, 255, 255, 1);
  --primary-color-150: rgba(255, 255, 255, 1);
  --primary-color-200: rgba(255, 255, 255, 1);
  --primary-color-250: rgba(255, 255, 255, 1);
  --primary-color-300: rgba(255, 255, 255, 1);
  --primary-color-350: #595959;
  --primary-color-400: rgba(255, 255, 255, 1);
  --primary-color-450: rgba(255, 255, 255, 1);
  --primary-color-500: #808080;
  --primary-color-550: #8c8c8c;
  --primary-color-600: #999999;
  --primary-color-650: #a6a6a6;
  --primary-color-700: #b3b3b3;
  --primary-color-750: #bfbfbf;
  --primary-color-800: #cccccc;
  --primary-color-850: #d9d9d9;
  --primary-color-900: #e6e6e6;
  --primary-color-950: #f2f2f2;
  --secondary-color: rgba(33, 33, 33, 1);
  --tertiary-color: rgba(33, 33, 33, 1);

}

.dark {}