:root {
  /* space variables */
  --space-1px: 0.0625rem;
  --space-2px: 0.125rem;
  --space-3px: 0.1875rem;
  --space-5px: 0.3125rem;
  --space-7px: 0.4375rem;
  --space-11px: 0.6875rem;
  --space-19px: 1.1875rem;

  /* z-index */
  --z-index-1: 1;
  --z-index-10: 10;
  --z-index-100: 100;

  /* letter-spacing */
  --letter-spacing-01-em: -.01em;
  --letter-spacing-007-em: .007em;
  --letter-spacing-002-em: .002em;
  --letter-spacing-011-em: .011em;

  /* css filters */
  --filter-blur-20px: blur(calc(var(--space-5px) * 4));
  --saturate-180-percentage: saturate(180%);
}