@import url("./css/variables.css");
@import url("./css/theme.css");
@import url("./css/fonts.css");
@import url("./css/dark-light-toggler.css");

/* Global Variables */
:root {
  -webkit-user-select: none;
  /* Safari, Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard syntax */
}

.selectable {
  -webkit-user-select: text;
  /* Safari, Chrome */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Standard syntax */
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  color: var(--secondary-color);
  background-color: var(--primary-color);
}

header {
  width: 100%;
  top: 0;
  position: sticky;

  display: flex;
  justify-content: center;
  align-items: center;

  background-blend-mode: overlay;
  backdrop-filter: blur(var(--backdrop-filter-blur));
  -webkit-backdrop-filter: blur(var(--backdrop-filter-blur));

  max-height: var(--rsp-space-44px);
  background-color: var(--primary-color-shade);
}

header>nav>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header>nav>ul>li>a {
  text-decoration: none;
  color: var(--secondary-color);
  font: var(--font-sf-pro-small);
  letter-spacing: var(--letter-spacing-01-em);
}

header>nav>ul>li>a:hover {
  color: var(--secondary-color-shade);
}

.theme-changer {
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}