@import url("./css/theme.css");
@import url("./css/variables.css");
@import url("./css/animation.css");
@import url("./css/fonts.css");
@import url("./css/dark-light-toggler.css");
@import url("./css/components.css");

/* Global Variables */
:root {
  -webkit-user-select: none;
  /* Safari, Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard syntax */

  scroll-behavior: smooth;

  /* variables */
  --fallback-z-index-100: 100;
  --fallback---color-primary-shade: rgba(245, 245, 247, 1);
  --header-height: calc(var(--space-2px) * 22);
  --header-backdrop-filter: var(--saturate-180-percentage) var(--filter-blur-20px);
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  color: var(--color-secondary);
  background-color: var(--color-primary-tint);
}

#loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-100, var(--fallback-z-index-100));
  /* with fallback value */
  background-color: var(--color-primary-shade, var(--fallback---color-primary-shade));
  /* with fallback value */
  overflow: hidden;
}

header {
  width: 100%;
  top: 0;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  background-blend-mode: overlay;
  backdrop-filter: var(--header-backdrop-filter);
  -webkit-backdrop-filter: var(--header-backdrop-filter);

  max-height: var(--header-height);
  background-color: var(--color-primary);

  z-index: var(--z-index-10);
}

header>nav {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  padding: calc(var(--space-2px) * 8);
}

header>nav>ul {
  margin: 0;
  padding: 0;
  width: auto;
  height: inherit;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>nav>ul li {
  height: var(--header-height);
  display: flex;
  align-items: center;
}

header>nav>ul li>a {
  border: 0;
  padding: 0;
  color: var(--color-secondary);
  pointer-events: auto;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

header>nav>ul li>a:hover {
  color: var(--color-secondary-shade);
}

.responsive-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  padding: var(--header-height) var(--header-height);
  background-color: var(--color-primary-tint);
  overflow: hidden
}

.responsive-menu[data-state="Menu"] {
  animation: var(--animation-slide-up);
}

.responsive-menu[data-state="Close"] {
  animation: var(--animation-slide-down);
}

.responsive-menu>ul {
  list-style: none;
  padding: 0;
}

.responsive-menu>ul>li>a {
  border: 0;
  text-decoration: none;
  padding: calc(var(--space-2px) * 5) 0 var(--space-11px) 0;
  color: var(--color-secondary);
  font: var(--font-sf-pro-display-semibold-large);
  letter-spacing: var(--letter-spacing-007-em);
}

.header-item-right-align {
  margin-left: auto;
  margin-right: calc(var(--space-2px) * 8);
}

.bread-menu {
  z-index: var(--z-index-1);
}

main {
  margin-top: var(--header-height);
  padding: 0 calc(var(--space-2px) * 8);
}

main>section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--header-height);
}

main>section>section {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10%;
}

#home {
  height: 100%;
  justify-content: center;
}

#board::after {
  /* linux, mac cursor style */
  content: '';
  animation: var(--animation-blink);
  margin-left: var(--space-2px);
  margin-top: calc(var(--space-5px) * -2);
  font-size: calc(var(--space-5px) * 2);
  padding-bottom: 0;
  padding-top: calc(var(--space-5px) * 2);
  border: calc(var(--space-3px) * 2) solid var(--color-secondary);
  border-bottom: 0;
}

.developer {
  display: none;
}

#contact-details {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: calc(var(--space-11px) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--space-2px) * 8);
}

#contact-details>.drawer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: var(--header-backdrop-filter);
  box-shadow: 0 calc(var(--space-2px) * 2) calc(var(--space-3px) * 2) var(--color-secondary-shadow-1), 0 var(--space-1px) var(--space-3px) var(--color-secondary-shadow-2);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-primary);
  padding: calc(var(--space-5px) * 3);
}

#contact-details>.drawer>a {
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/48x48-icons.png");
  background-repeat: no-repeat;
  width: calc(var(--space-3px) * 16);
  height: calc(var(--space-3px) * 16);
}

.mail {
  background-position: -89px -88px;
}

.whatsapp {
  background-position: -167px -11px;
}

.linkedin {
  background-position: -20px -20px;
}

.github {
  background-position: -89px -20px;
}

.twitter {
  background-position: -20px -88px;
  transform: scale(0.9);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: var(--header-height);
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: calc(var(--space-5px) * 4);
}

.card picture>img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--space-5px) * 3);
}

.card-content > h3 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-sf-pro-text-xs);
  color: var(--color-secondary-tint);
  background-color: var(--color-primary-shade);
}